html {
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 60px;
  /*text-align: center;*/
}

h2 {
  font-size: 30px;
  /*text-align: center;*/
  /*margin-bottom: 10px;
  margin-top: 60px;*/
  font-style: italic;
  color: #333;

  font-family: 'Arial', sans-serif;
}

h3 {
  font-size: 20px;
  /*text-align: center;*/
}

h4 {
  font-size: 18px;
  /*text-align: center;*/
}

p, li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}

html {
  background-color: #00111a;
  scroll-behavior: smooth;
}

body {
  width: 600px;
  margin: 20px auto;
  background-color: #FFFFFF;
  padding: 20px 20px 20px 20px;
  border: 5px solid black;
}

h1 {
  margin: 0;
  padding: 20px 0;
  color: #66c2ff;
  text-shadow: 3px 3px 1px black;
}

img {
  /*
  display: block;
  /*margin: 0 auto;*/
  /*margin: 0 0;*/
}

.center {
  text-align: center;
}

.center2 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.sectiunea1{
  margin-top: 40px;
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}


.sectiunea1b{
  margin-top: 20px;
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.sectiunea1 h2, .sectiunea1b h2 {
  margin: 0;
  display: inline-flex;
  margin-right: 20px;
}

.sectiunea1 img, .sectiunea1b img.im1{
  max-width: 40px;
  /*height: auto;*/
  display: inline-flex;
  margin-right: 10px;

}

.im3 {
  max-width: 74px;
}

.sectiunea1 img, .sectiunea1b img.im2{
  max-width: 40px;
  /*height: auto;*/
  /*border: 1px solid blue;*/
  display: inline-flex;
  margin-right: 0px;
}

.separator {
  height: 48px;
}

.container {

}

.text_data, .text_data2, .text_data3{
  color: #333;
  margin-bottom: 4px;
  font-size: 1.5em;
  font-style: oblique;
}

.datainitiala{
  /*color: #333;*/
  margin-bottom: 0px;
  /*font-size: 1.5em;
  font-style: oblique;*/
}

.portAvion,
.portAvion2 {
  /*margin-top: 5px;*/
  margin-bottom: 20px;
  font-style: italic;
  font-size: 1.3em;
}

.portAvion2 {
  margin-top: 20px;
}

.titlu,
.titlu_total{
  font-weight: bold;
  margin-bottom: 2px;
}

.titlu_total,
.titlu_totalY{
  border-bottom: 2px solid #333;
  width: 150px;
  font-weight: bold;
}

.titlu_total2{
  border-bottom: 2px solid #333;
  width: 170px;
  font-weight: bold;
}

.panouSituatie{
  display: grid;
  grid-template-columns: repeat(2, 250px);
  grid-template-rows: 1;
  grid-gap: 5px;
}

.container_date1,
.container_date2{
  display: flex;
  /*border: 1px solid black;*/
  margin-left: 10px;
  /*border: 1px solid green;*/
}

.container_portavion_grafic{
  display: flex;
  flex-direction: column;
  /*border: 1px solid black;*/
  margin-left: 10px;
}

.grafic_apropiere,
.grafic_coborare{
  background-color: lightgreen;
  /*width: 110px;*/
  /*padding-left: 4px;*/
  padding: 4px;
  height: 15px;
  /*border: 1px solid #333;*/
}

.grafic_departare,
.grafic_urcare
{
  background-color: #cc9966;
  padding: 4px;
  height: 15px;
}

.apropiere,
.coborare {
  /*background-color: lightgreen;*/
  display: inline;
  /*width: 200px;*/
  /*height: 16px;*/
  /*text-align: right;*/
  /*padding: 3px;*/
}

.departare,
.urcare {
  /*background-color: #cc9966;*/
  display: inline;

  /*width: 200px;*/
  /*height: 16px;*/
  /*text-align: left;*/
  /*padding: 3px;*/
}

.container_portavion{
  /*height: 36px;*/
  width: 100px;
  display: inline-flex;
  flex-direction: column;
  /*border: 1px solid black;*/
  /*text-align: center;*/
}

.app {
  display: flex;
  flex-direction: row;
  padding: 4px;

}

.app_text{
  width: 80px;
  /*border: 1px solid black;*/
}

.app_text2{
  width: 88px;
  /*border: 1px solid black;*/
}

.app_text2b{
  width: 88px;
  /*border: 1px solid black;*/
  font-weight: bold;
}

.app_text3{
  width: 146px;
  /*border: 1px solid black;*/
  color: lightgrey;
}

.app_text3a{
  width: 146px;
  /*border: 1px solid black;*/
  /*color: lightgrey;*/
}

.pierderi_totale_proiectie{
  font-weight: bold;
  /*color: navy;*/
}

.distantier {
  visibility: hidden;
}

.rata_pierderi_zi {
  font-weight: bold;
}

.rata_pierderi_avarii {
  /*font-weight: bold;
  color: #4d4d4d;*/
}

.app_text_spatiu{
  /*visibility: hidden;*/
}

.pierderi_zilnice{
  background-color: rgba(153, 153, 153, 0.3);
  width: 0px;
}

.pierderi_zilnice_proiectie{
  background-color: rgba(153, 153, 153, 0.3);
  width: 0px;
  /*font-weight: bold;*/
}

.pierderi_totale_proiectie{
  background-color: rgba(35, 80, 144, 0.2);
}

.pierderi_totale{
  background-color: rgba(35, 80, 144, 0.2);
  font-weight: bold;
  /*color: navy;*/
}

.container_impact{
  display: flex;
  flex-direction: column;

  margin-top: 20px;
  /*margin-bottom: 20px;*/
  font-style: italic;
  font-size: 1.3em;
}

.impact_zilnic,
.impact_total {
  display:grid;
  grid-template-columns: 180px 415px;
  grid-template-rows: 1;
  grid-gap: 5px;
  /*border: 1px solid green;*/
}

.impact_total {
  margin-top: 10px;
}

.impact_zilnic_col_date,
.impact_zilnic_col_proiectie,
.impact_total_col_date,
.impact_total_col_proiectie {
  /*border: 2px solid navy;*/

}

.app2 {
  display: flex;
  flex-direction: column;
  padding: 4px;
  margin-left: 10px;
}

.app2_rand1,
.app2_rand2,
.app2_rand3,
.app2_rand4 {
  display: flex;
}

#pozitii {
  min-height: 640px;
  max-height: 640px;
  overflow: hidden;

  border: 2px solid #333;
  /*
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;*/
  /*flex-direction: row-reverse;*/
  margin: 0px 0 0px 0;

  text-align: center;
  padding: 10px 4px 20px 4px;

  display: grid;
  grid-template-columns: repeat(14, 34px);
  grid-template-rows: repeat(14, 210px);
  grid-gap: 8px;
}

#pozitii .zona {
  display: flex;
  flex-direction: column-reverse;
  /*border: 4px dotted grey;*/
  padding: 2px;
  /*align-content: center;*/
}

#pozitii .nume a{
  text-decoration: none;
  display: block;
  height: 200%;
}

#pozitii .nume a:visited{
  color: #333;
}

#pozitii .nume a:link{
  color: #333;
}

#pozitii .nume a:active{
  color: #333;
}

/*#pozitii .zona > div {
  flex = 1;
}*/

#pozitii .segment_bara_proiectie {
  background-color: #a8d3f0;
  height: 60px;
  width: 36px;
  /*border: 1px dotted #333;*/
  font-weight: bolder;
  /*overflow: auto;*/

  border-top: 1px solid #333;
  /*border-bottom: 2px solid #333;*/
  border-left: 1px solid #333;
  border-right: 1px solid #333;
}

#pozitii .segment_bara_medie {
  background-color: lightyellow;
  height: 70px;
  width: 36px;
  border-top: 3px solid #0f223d;
  border-bottom: 1px solid #333;
  border-left: 1px solid #333;
  border-right: 1px solid #333;
  /*border-bottom: none;
  border-top: none;*/
  font-weight: bolder;
  /*overflow: auto;*/
}

#pozitii .avion {
  background-color: #fcfccf;
  width: 36px;
  min-height: 12px;
  border-top: 2px solid #333;
  border-bottom: 2px solid #333;
  border-left: 1px solid #333;
  border-right: 1px solid #333;
}

#pozitii .iProiectie {
  /*background-color: #a8d3f0;*/
  background-color: lightgrey;
  width: 36px;
  min-height: 12px;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  border-left: 1px solid #333;
  border-right: 1px solid #333;
  font-weight: bold;
}

#pozitii .iDelta {
  background-color: #fcfccf;
  width: 36px;
  min-height: 12px;
  /*border-top: 1px solid #333;*/
  border-bottom: 1px solid #333;
  border-left: 1px solid #333;
  border-right: 1px solid #333;
}

#pozitii .iR {
  background-color: #fcfccf;
  width: 36px;
  min-height: 12px;
  border-top: 1px solid #333;
  /*border-bottom: 1px solid #333;*/
  border-left: 1px solid #333;
  border-right: 1px solid #333;
}

#pozitii .iMedie {
  background-color: #fcfccf;
  width: 36px;
  min-height: 12px;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  border-left: 1px solid #333;
  border-right: 1px solid #333;
  font-weight: bold;
  margin-top: 4px;
}

#pozitii .nume {
  /*border: 1px solid #333;
  border-top: none;*/
  width: 36px;
  /*padding: 2px;*/
  font-size: 1.2em;
  font-style: italic;
  font-weight: bold;
  color: #194766;
}

#pozitii .val_proiectie {
  width: 36px;
  font-size: 1.2em;
  font-style: italic;
  color: #194766;
  display: block;
}

#pozitii .val_medie {
  border: 1px solid #333;
  border-bottom: none;
  /*border-top: none;*/
  padding: 4px;
}

#zone {
  /*margin-top: 50px;*/
  border: 2px solid #333;

  /*display: flex;*/
  /*justify-content: center;*/
}

#zone table {
  margin: 0 auto;
  margin: 2px;
  display: flex;
  justify-content: center;
}

#viteze_propagare {
  /*margin-top: 50px;*/
  border: 2px solid #333;

  /*
  display: flex;
  justify-content: flex-start;
  align-items: baseline;*/

  /*
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;*/
}

#viteze_propagare table {
  /*margin: 0 auto;*/
  margin: 2px;
  /*display: flex;*/
}

#viteze_propagare table tr {
  /*margin: 0 auto;*/
  /*margin: 2px;*/
  display: flex;
  flex-wrap: wrap;
}

#viteze_propagare table td {
  width: 36px;
  height: 100px;
  text-align: center;
  /*border: 1px solid #333;*/
  margin: 2px;

  /*display:inline-block;
  align-items: baseline;*/
  display: flex;
  flex-direction: column;
}

#viteze_propagare table td div{
  /*overflow: hidden;*/
}

#viteze_propagare table td div[class~="bara_grafic"]{
  /*padding: 2px;*/
  /*margin-top: 2px;*/
  font-size: 1.3em;
  font-style: italic;
  background: white;
  height: 30px;
  /*font-weight: bold;*/
  /*color:yellow;*/
  /*overflow:visible;*/

}

#viteze_propagare table td div[class~="nume_zona"]{
  /*padding: 2px;*/
  margin-top: 4px;
  font-size: 1.3em;
  font-style: italic;
  /*font-weight: bold;*/
  /*color:yellow;*/
}

#viteze_propagare table td div[class~="val_cl_r"]{
  /*padding: 2px;*/
  font-size: 1.2em;
  margin-bottom: 6px;
  font-style: italic;
  /*font-weight: bold;*/
}


#altitudini {
  /*margin-top: 50px;*/
  border: 2px solid #333;

  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}

#altitudini table {
  /*margin: 0 auto;*/
  margin: 2px;
  display: flex;
  justify-content: flex-start;
}

#altitudini table td {
  width: 36px;
  height: 120px;
  text-align: center;
  /*border: 1px solid #333;*/
  margin: 2px;
  display:inline-block;
}

#altitudini table td div{
  overflow: visible;
}

#altitudini table td div[class~="bara_altitudine"]{
  padding: 2px;
  /*margin-top: 4px;*/
  /*padding: 8px;*/
  font-size: 1.3em;
  font-style: italic;
  border: 1px solid #333;
  /*background: white;*/
  /*height: 30px;*/
  font-weight: bold;
  /*color:yellow;*/
  overflow:visible;


}

#altitudini table td div[class~="bara_proiectie"]{
  padding: 2px;
  /*margin-top: 4px;*/
  /*padding: 8px;*/
  border: 1px solid #333;
  font-size: 1.3em;
  font-style: italic;
  background-color: lightblue;
  /*height: 30px;*/
  /*font-weight: bold;*/
  /*color:yellow;*/
  overflow:visible;
}

#altitudini table td div[class~="bara_propagare"]{
  padding: 2px;
  /*margin-top: 4px;*/
  /*padding: 8px;*/
  border-left: 1px solid #333;
  border-right: 1px solid #333;
  font-size: 1.2em;
  font-style: italic;
  /*background-color: lightblue;*/
  /*height: 30px;*/
  font-weight: bold;
  /*color:yellow;*/
  overflow:visible;
}

#altitudini table td div[class~="nume_zona"]{
  /*padding: 2px;*/
  margin-top: 4px;
  font-size: 1.3em;
  font-style: italic;
  /*font-weight: bold;*/
  /*color:yellow;*/
}

#altitudini table td div[class~="val_cl_me"]{
  /*padding: 2px;*/
  font-size: 1.2em;
  margin-bottom: 6px;
  font-style: italic;
  /*font-weight: bold;*/
}



#traiectorii {
  /*margin-top: 50px;*/
  border: 2px solid #333;

  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}

#traiectorii table {
  /*margin: 0 auto;*/
  margin: 2px;
  display: flex;
  justify-content: flex-start;
}

#traiectorii table td {
  width: 36px;
  height: 140px;
  text-align: center;
  /*border: 1px solid #333;*/
  margin: 2px;
  display:inline-block;
}

#traiectorii table td div{
  overflow: visible;
}

#traiectorii table td div[class~="bara_altitudine"]{
  padding: 2px;
  /*margin-top: 4px;*/
  /*padding: 8px;*/
  font-size: 1.3em;
  font-style: italic;
  border: 1px solid #333;
  /*background: white;*/
  /*height: 30px;*/
  font-weight: bold;
  /*color:yellow;*/
  overflow:visible;


}

#traiectorii table td div[class~="bara_proiectie"]{
  padding: 2px;
  /*margin-top: 4px;*/
  /*padding: 8px;*/
  border: 1px solid #333;
  font-size: 1.3em;
  font-style: italic;
  background-color: lightblue;
  /*height: 30px;*/
  /*font-weight: bold;*/
  /*color:yellow;*/
  overflow:visible;
}

#traiectorii table td div[class~="bara_propagare"]{
  padding: 2px;
  /*margin-top: 4px;*/
  /*padding: 8px;*/
  border-left: 1px solid #333;
  border-right: 1px solid #333;
  font-size: 1.2em;
  font-style: italic;
  /*background-color: lightblue;*/
  /*height: 30px;*/
  font-weight: bold;
  /*color:yellow;*/
  overflow:visible;
}

#traiectorii table td div[class~="nume_zona"]{
  /*padding: 2px;*/
  margin-top: 4px;
  font-size: 1.3em;
  font-style: italic;
  /*font-weight: bold;*/
  /*color:yellow;*/
}

#traiectorii table td div[class~="val_cl_pr"]{
  /*padding: 2px;*/
  font-size: 1.2em;
  margin-bottom: 6px;
  font-style: italic;
  /*font-weight: bold;*/
}



#zone table td {
  width: 80px;
  height: 84px;
  text-align: center;
  border: 1px solid #333;
  margin: 2px;
  display:inline-block;
  box-sizing: border-box;
}

#zone table td div{
  overflow: hidden;
}

#zone table td div[class~="nume_zona"]{
  /*padding: 2px;*/
  margin-top: 4px;
  font-size: 1.3em;
  font-style: italic;
  font-weight: bold;
  /*color:yellow;*/
}

#zone table td div[class~="val_delta"]{
  /*padding: 2px;*/
  font-size: 1.1em;
  margin-bottom: 0px;
  font-style: italic;
  /*font-weight: bold;*/
}

#zone table td div[class~="Me-Pr"]{
  /*padding: 2px;*/
  font-size: 1.1em;
  margin-bottom: 0px;
  font-style: italic;
  font-weight: bold;
}

#zone table td div[class~="val_r"]{
  /*padding: 2px;*/
  font-size: 1.2em;
  margin-bottom: 0px;
  font-style: italic;
  /*font-weight: bold;*/
}

#zone table td div[class~="val_cl_r"]{
  /*padding: 2px;*/
  font-size: 1.2em;
  margin-bottom: 4px;
  font-style: italic;
  font-weight: bold;
}

#zone table td div[class~="val_v"]{
  /*padding: 2px;*/
  font-size: 1.1em;
  /*margin-top: 6px;*/
  font-style: italic;
}

#zone table td div[class~="val_pr"]{
  /*padding: 2px;*/
  font-size: 1.1em;
  /*margin: 2px 0;*/
  font-style: italic;
}

#zone table td div[class~="val_me"]{
  /*padding: 2px;*/
  font-size: 1.1em;
  /*margin: 2px 0;*/
  font-style: italic;
}

#inactiv {
  color: green;
  visibility: hidden;
}


button {
  height: 48px;
  width: 40px;
  outline: none;
}

button#grafice {
  width: 48px;
  height: 54px;
}

button:hover{
  background-color: white;
  border: 2px solid;
  border-radius: 3px;
}

button#foto,
button#rezervor,
button#radar {
  width: 44px;
  height: 50px;
}

#selectorzistart {
    width: 100%;
    height: 10px;
    margin: 10px 0 20px 0;
    outline: none;
    /*-webkit-appearance: none;*/
    background: #f2f2f2;
    border-radius: 5px;
}


#myRange {
    width: 100%;
    outline: none;
    margin: 0 0 5px 0;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #2e65b8;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #2e65b8;
  cursor: pointer;
}
