html {
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 60px;
  /*text-align: center;*/
}

h2 {
  font-size: 30px;
  /*text-align: center;*/
  /*margin-bottom: 10px;
  margin-top: 60px;*/
  font-style: italic;
  color: #333;

  font-family: 'Arial', sans-serif;
}

h3 {
  font-size: 20px;
  /*text-align: center;*/
}

h4 {
  font-size: 18px;
  /*text-align: center;*/
}

p, li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}

html {
  background-color: #00111a;
}

body {
  width: 600px;
  margin: 20px auto;
  background-color: #FFFFFF;
  padding: 20px 20px 20px 20px;
  border: 5px solid black;
}

h1 {
  margin: 0;
  padding: 20px 0;
  color: #66c2ff;
  text-shadow: 3px 3px 1px black;
}

img {
  /*
  display: block;
  /*margin: 0 auto;*/
  /*margin: 0 0;*/
}

.center {
  text-align: center;
}

.center2 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.sectiunea1{
  margin-top: 40px;
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.sectiunea1b{
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.sectiunea1 h2, .sectiunea1b h2 {
  margin: 0;
  display: inline-flex;
  margin-right: 20px;
}

.sectiunea1 img, .sectiunea1b img{
  max-width: 40px;
  /*height: auto;*/
  display: inline-flex;
}

.separator {
  height: 48px;
}

.container {

}

.data h2{
  color: #333;
}

#pozitii {
  min-height: 610px;
  max-height: 600px;
  overflow: hidden;

  border: 2px solid #333;
  /*
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;*/
  /*flex-direction: row-reverse;*/
  margin: 0px 0 20px 0;

  text-align: center;
  padding: 10px 4px 20px 4px;

  display: grid;
  grid-template-columns: repeat(14, 34px);
  grid-template-rows: repeat(14, 200px);
  grid-gap: 8px;
}

#pozitii .zona {
  display: flex;
  flex-direction: column-reverse;
  /*border: 4px dotted grey;*/
  padding: 2px;
  /*align-content: center;*/
}

/*#pozitii .zona > div {
  flex = 1;
}*/

#pozitii .segment_bara_proiectie {
  background-color: lightblue;
  height: 60px;
  width: 36px;
  border: 1px solid #333;
  font-weight: bolder;
}

#pozitii .segment_bara_medie {
  background-color: lightyellow;
  height: 70px;
  width: 36px;
  border: 1px solid #333;
  border-bottom: none;
  border-top: none;
}

#pozitii .avion {
  background-color: #fcfccf;
  width: 36px;
  min-height: 12px;
  border: 1px solid #333;
  /*border-top: none;*/
  /*border-bottom: none;*/
}

#pozitii .nume {
  /*border: 1px solid #333;
  border-top: none;*/
  width: 36px;
  /*padding: 2px;*/
  font-size: 1.2em;
  font-style: italic;
  font-weight: bold;
  color: #194766;
}

#pozitii .val_proiectie {
  width: 36px;
  font-size: 1.2em;
  font-style: italic;
  color: #194766;
}

#pozitii .val_medie {
  border: 1px solid #333;
  border-bottom: none;
  /*border-top: none;*/
  padding: 4px;
}

#zone {
  /*margin-top: 50px;*/
  border: 2px solid #333;

  /*display: flex;*/
  /*justify-content: center;*/
}

#zone table {
  margin: 0 auto;
  margin: 2px;
  display: flex;
  justify-content: center;
}

#viteze_propagare {
  /*margin-top: 50px;*/
  border: 2px solid #333;

  /*
  display: flex;
  justify-content: flex-start;
  align-items: baseline;*/

  /*
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;*/
}

#viteze_propagare table {
  /*margin: 0 auto;*/
  margin: 2px;
  /*display: flex;*/
}

#viteze_propagare table tr {
  /*margin: 0 auto;*/
  /*margin: 2px;*/
  display: flex;
  flex-wrap: wrap;
}

#viteze_propagare table td {
  width: 36px;
  height: 100px;
  text-align: center;
  /*border: 1px solid #333;*/
  margin: 2px;

  /*display:inline-block;
  align-items: baseline;*/
  display: flex;
  flex-direction: column;
}

#viteze_propagare table td div{
  /*overflow: hidden;*/
}

#viteze_propagare table td div[class~="bara_grafic"]{
  /*padding: 2px;*/
  /*margin-top: 2px;*/
  font-size: 1.3em;
  font-style: italic;
  background: white;
  height: 30px;
  /*font-weight: bold;*/
  /*color:yellow;*/
  /*overflow:visible;*/

}

#viteze_propagare table td div[class~="nume_zona"]{
  /*padding: 2px;*/
  margin-top: 4px;
  font-size: 1.3em;
  font-style: italic;
  /*font-weight: bold;*/
  /*color:yellow;*/
}

#viteze_propagare table td div[class~="val_cl_r"]{
  /*padding: 2px;*/
  font-size: 1.2em;
  margin-bottom: 6px;
  font-style: italic;
  /*font-weight: bold;*/
}


#altitudini {
  /*margin-top: 50px;*/
  border: 2px solid #333;

  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}

#altitudini table {
  /*margin: 0 auto;*/
  margin: 2px;
  display: flex;
  justify-content: flex-start;
}

#altitudini table td {
  width: 36px;
  height: 130px;
  text-align: center;
  /*border: 1px solid #333;*/
  margin: 2px;
  display:inline-block;
}

#altitudini table td div{
  overflow: visible;
}

#altitudini table td div[class~="bara_altitudine"]{
  padding: 2px;
  /*margin-top: 4px;*/
  /*padding: 8px;*/
  font-size: 1.3em;
  font-style: italic;
  border: 1px solid #333;
  /*background: white;*/
  /*height: 30px;*/
  /*font-weight: bold;*/
  /*color:yellow;*/
  overflow:visible;
}

#altitudini table td div[class~="bara_proiectie"]{
  padding: 2px;
  /*margin-top: 4px;*/
  /*padding: 8px;*/
  border: 1px solid #333;
  font-size: 1.3em;
  font-style: italic;
  background-color: lightblue;
  /*height: 30px;*/
  /*font-weight: bold;*/
  /*color:yellow;*/
  overflow:visible;
}

#altitudini table td div[class~="bara_propagare"]{
  padding: 2px;
  /*margin-top: 4px;*/
  /*padding: 8px;*/
  border-left: 1px solid #333;
  border-right: 1px solid #333;
  font-size: 1.2em;
  font-style: italic;
  /*background-color: lightblue;*/
  /*height: 30px;*/
  font-weight: bold;
  /*color:yellow;*/
  overflow:visible;
}

#altitudini table td div[class~="nume_zona"]{
  /*padding: 2px;*/
  margin-top: 4px;
  font-size: 1.3em;
  font-style: italic;
  /*font-weight: bold;*/
  /*color:yellow;*/
}

#altitudini table td div[class~="val_cl_me"]{
  /*padding: 2px;*/
  font-size: 1.2em;
  margin-bottom: 6px;
  font-style: italic;
  /*font-weight: bold;*/
}



#zone table td {
  width: 76px;
  height: 80px;
  text-align: center;
  border: 1px solid #333;
  margin: 2px;
  display:inline-block;
}

#zone table td div{
  overflow: hidden;
}

#zone table td div[class~="nume_zona"]{
  /*padding: 2px;*/
  margin-top: 4px;
  font-size: 1.3em;
  font-style: italic;
  font-weight: bold;
  /*color:yellow;*/
}
#zone table td div[class~="val_r"]{
  /*padding: 2px;*/
  font-size: 1.2em;
  margin-bottom: 0px;
  font-style: italic;
  font-weight: bold;
}

#zone table td div[class~="val_cl_r"]{
  /*padding: 2px;*/
  font-size: 1.2em;
  margin-bottom: 6px;
  font-style: italic;
  font-weight: bold;
}

#zone table td div[class~="val_v"]{
  /*padding: 2px;*/
  font-size: 1.1em;
  /*margin-top: 6px;*/
  font-style: italic;
}

#zone table td div[class~="val_pr"]{
  /*padding: 2px;*/
  font-size: 1.1em;
  /*margin: 2px 0;*/
  font-style: italic;
}

#zone table td div[class~="val_me"]{
  /*padding: 2px;*/
  font-size: 1.1em;
  /*margin: 2px 0;*/
  font-style: italic;
}

#inactiv {
  color: green;
  visibility: hidden;
}


button {
  height: 48px;
  width: 40px;
  outline: none;
}

button#grafice {
  width: 48px;
  height: 54px;
}

button:hover{
  background-color: white;
  border: 2px solid;
  border-radius: 3px;
}

button#foto,
button#rezervor {
  width: 44px;
  height: 50px;
}

#selectorzistart {
    width: 100%;
    height: 10px;
    margin: 10px 0 20px 0;
    outline: none;
    /*-webkit-appearance: none;*/
    background: #f2f2f2;
    border-radius: 5px;
}


#myRange {
    width: 100%;
    outline: none;
    margin: 0 0 5px 0;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #2e65b8;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #2e65b8;
  cursor: pointer;
}
