html {
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 60px;
  /*text-align: center;*/
}

h2 {
  font-size: 30px;
  /*text-align: center;*/
}

h3 {
  font-size: 20px;
  /*text-align: center;*/
}

h4 {
  font-size: 18px;
  /*text-align: center;*/
}

p, li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}

html {
  background-color: #00111a;
}

body {
  width: 600px;
  margin: 20px auto;
  background-color: #FFFFFF;
  padding: 20px 20px 20px 20px;
  border: 5px solid black;
}

h1 {
  margin: 0;
  padding: 20px 0;
  color: #66c2ff;
  text-shadow: 3px 3px 1px black;
}

img {
  display: block;
  /*margin: 0 auto;*/
  margin: 0 0
}

.center {
  text-align: center;
}

.center2 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

#zone {
  margin-top: 50px;
  border: 2px solid #333;

  /*display: flex;*/
  /*justify-content: center;*/
}

#zone table {
  margin: 0 auto;
  margin: 2px;
  display: flex;
  justify-content: center;
}

#zone table td {
  width: 76px;
  height: 80px;
  text-align: center;
  border: 1px solid #333;
  margin: 2px;
  display:inline-block;
}

#zone table td div{
  overflow: hidden;
}

#zone table td div[class~="nume_zona"]{
  /*padding: 2px;*/
  margin-top: 4px;
  font-size: 1.3em;
  font-style: italic;
  /*font-weight: bold;*/
  /*color:yellow;*/
}
#zone table td div[class~="val_r"]{
  /*padding: 2px;*/
  font-size: 1.2em;
  margin: 2px 0;
  font-style: italic;
  font-weight: bold;
}

#zone table td div[class~="val_v"]{
  /*padding: 2px;*/
  font-size: 1.2em;
  margin: 2px 0;
  font-style: italic;
}

#inactiv {
  color: green;
  visibility: hidden;
}


button {
  height: 48px;
  width: 40px;
  outline: none;
}

button#grafice {
  width: 48px;
  height: 54px;
}

button:hover{
  background-color: white;
  border: 2px solid;
  border-radius: 3px;
}

button#foto,
button#rezervor {
  width: 44px;
  height: 50px;
}

#selectorzistart {
    width: 100%;
    height: 10px;
    margin: 10px 0 20px 0;
    outline: none;
    /*-webkit-appearance: none;*/
    background: #f2f2f2;
    border-radius: 5px;
}


#myRange {
    width: 100%;
    outline: none;
    margin: 0 0 5px 0;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #2e65b8;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #2e65b8;
  cursor: pointer;
}
